<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="RubrosSection" type="Balanzas_MF.RubrosSection, Control%20balanzas"/>
		<section name="GeneralSettings" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
			<assemblyIdentity name="FastReport.Compat" publicKeyToken="406e1f4c3c8ef97e" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-2024.1.0.0" newVersion="2024.1.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<GeneralSettings>
		<add key="filepath" value="C:\Users\Usuario\Documents\"/>
		<add key="askReportLocation" value="false"/>
		<add key="excludedCategories" value="12, 13, 14, 15, 17, 18, 19, 20, 22, 23, 24, 25, 100, 110, 111, 114"/>
		<add key="excludedProducts" value="154, 158, 164, 165, 166, 167, 168, 199, 204, 227, 272, 273, 274, 276, 277, 278, 279, 293, 302, 303, 304, 306, 308, 406, 407, 408, 409, 417, 418, 954"/>
	</GeneralSettings>
	<RubrosSection>
		<Rubro codigo="1" nombre="CARNES VACUNA">
			<productos>
				<producto codigo="100"/>
				<producto codigo="1000"/>
				<producto codigo="1006"/>
				<producto codigo="1007"/>
				<producto codigo="1017"/>
				<producto codigo="1018"/>
				<producto codigo="103"/>
				<producto codigo="105"/>
				<producto codigo="106"/>
				<producto codigo="107"/>
				<producto codigo="110"/>
				<producto codigo="112"/>
				<producto codigo="115"/>
				<producto codigo="116"/>
				<producto codigo="118"/>
				<producto codigo="119"/>
				<producto codigo="120"/>
				<producto codigo="125"/>
				<producto codigo="126"/>
				<producto codigo="129"/>
				<producto codigo="130"/>
				<producto codigo="133"/>
				<producto codigo="134"/>
				<producto codigo="135"/>
				<producto codigo="138"/>
				<producto codigo="139"/>
				<producto codigo="140"/>
				<producto codigo="144"/>
				<producto codigo="145"/>
				<producto codigo="150"/>
				<producto codigo="155"/>
				<producto codigo="156"/>
				<producto codigo="160"/>
				<producto codigo="170"/>
				<producto codigo="180"/>
				<producto codigo="185"/>
				<producto codigo="186"/>
				<producto codigo="188"/>
				<producto codigo="190"/>
				<producto codigo="191"/>
				<producto codigo="193"/>
				<producto codigo="901"/>
			</productos>
		</Rubro>
		<Rubro codigo="10" nombre="FIAMBRES">
			<productos>
				<producto codigo="121"/>
				<producto codigo="122"/>
				<producto codigo="127"/>
				<producto codigo="136"/>
				<producto codigo="148"/>
				<producto codigo="195"/>
				<producto codigo="211"/>
				<producto codigo="275"/>
				<producto codigo="351"/>
				<producto codigo="352"/>
				<producto codigo="353"/>
				<producto codigo="354"/>
				<producto codigo="355"/>
				<producto codigo="356"/>
				<producto codigo="357"/>
				<producto codigo="358"/>
				<producto codigo="359"/>
				<producto codigo="360"/>
				<producto codigo="361"/>
				<producto codigo="362"/>
				<producto codigo="363"/>
				<producto codigo="364"/>
				<producto codigo="365"/>
				<producto codigo="366"/>
				<producto codigo="367"/>
				<producto codigo="368"/>
				<producto codigo="369"/>
				<producto codigo="370"/>
				<producto codigo="371"/>
				<producto codigo="372"/>
				<producto codigo="373"/>
				<producto codigo="374"/>
				<producto codigo="375"/>
				<producto codigo="376"/>
				<producto codigo="377"/>
				<producto codigo="378"/>
				<producto codigo="379"/>
				<producto codigo="380"/>
				<producto codigo="381"/>
				<producto codigo="382"/>
				<producto codigo="383"/>
				<producto codigo="384"/>
				<producto codigo="385"/>
				<producto codigo="386"/>
				<producto codigo="387"/>
				<producto codigo="388"/>
				<producto codigo="389"/>
				<producto codigo="390"/>
				<producto codigo="391"/>
				<producto codigo="392"/>
				<producto codigo="405"/>
				<producto codigo="415"/>
				<producto codigo="421"/>
				<producto codigo="432"/>
				<producto codigo="433"/>
				<producto codigo="434"/>
				<producto codigo="441"/>
				<producto codigo="442"/>
				<producto codigo="491"/>
				<producto codigo="492"/>
				<producto codigo="518"/>
				<producto codigo="531"/>
				<producto codigo="602"/>
				<producto codigo="603"/>
				<producto codigo="604"/>
				<producto codigo="605"/>
				<producto codigo="614"/>
				<producto codigo="615"/>
				<producto codigo="631"/>
				<producto codigo="684"/>
				<producto codigo="929"/>
				<producto codigo="930"/>
				<producto codigo="934"/>
			</productos>
		</Rubro>
		<Rubro codigo="11" nombre="QUESOS">
			<productos>
				<producto codigo="137"/>
				<producto codigo="149"/>
				<producto codigo="162"/>
				<producto codigo="194"/>
				<producto codigo="212"/>
				<producto codigo="216"/>
				<producto codigo="235"/>
				<producto codigo="422"/>
				<producto codigo="425"/>
				<producto codigo="428"/>
				<producto codigo="450"/>
				<producto codigo="451"/>
				<producto codigo="452"/>
				<producto codigo="453"/>
				<producto codigo="454"/>
				<producto codigo="455"/>
				<producto codigo="456"/>
				<producto codigo="457"/>
				<producto codigo="458"/>
				<producto codigo="459"/>
				<producto codigo="460"/>
				<producto codigo="461"/>
				<producto codigo="462"/>
				<producto codigo="463"/>
				<producto codigo="464"/>
				<producto codigo="465"/>
				<producto codigo="466"/>
				<producto codigo="467"/>
				<producto codigo="468"/>
				<producto codigo="469"/>
				<producto codigo="470"/>
				<producto codigo="471"/>
				<producto codigo="472"/>
				<producto codigo="473"/>
				<producto codigo="474"/>
				<producto codigo="475"/>
				<producto codigo="476"/>
				<producto codigo="477"/>
				<producto codigo="478"/>
				<producto codigo="479"/>
				<producto codigo="480"/>
				<producto codigo="481"/>
				<producto codigo="482"/>
				<producto codigo="483"/>
				<producto codigo="484"/>
				<producto codigo="616"/>
				<producto codigo="624"/>
				<producto codigo="633"/>
				<producto codigo="638"/>
				<producto codigo="639"/>
				<producto codigo="640"/>
				<producto codigo="648"/>
				<producto codigo="676"/>
				<producto codigo="677"/>
				<producto codigo="678"/>
				<producto codigo="683"/>
				<producto codigo="867"/>
				<producto codigo="874"/>
				<producto codigo="896"/>
				<producto codigo="897"/>
				<producto codigo="928"/>
				<producto codigo="931"/>
				<producto codigo="939"/>
				<producto codigo="940"/>
			</productos>
		</Rubro>
		<Rubro codigo="112" nombre="PANIFICAD. PESABL.">
			<productos>
				<producto codigo="699"/>
			</productos>
		</Rubro>
		<Rubro codigo="113" nombre="DULCES X KG.">
			<productos>
				<producto codigo="593"/>
				<producto codigo="594"/>
				<producto codigo="595"/>
				<producto codigo="596"/>
				<producto codigo="597"/>
				<producto codigo="598"/>
				<producto codigo="599"/>
			</productos>
		</Rubro>
		<Rubro codigo="115" nombre="ENCURTIDOS X KG.">
			<productos>
				<producto codigo="742"/>
				<producto codigo="743"/>
				<producto codigo="747"/>
				<producto codigo="748"/>
				<producto codigo="991"/>
				<producto codigo="993"/>
			</productos>
		</Rubro>
		<Rubro codigo="17" nombre="CONGELADOS">
			<productos>
				<producto codigo="154"/>
				<producto codigo="158"/>
				<producto codigo="164"/>
				<producto codigo="165"/>
				<producto codigo="166"/>
				<producto codigo="167"/>
				<producto codigo="168"/>
				<producto codigo="199"/>
				<producto codigo="204"/>
				<producto codigo="227"/>
				<producto codigo="272"/>
				<producto codigo="273"/>
				<producto codigo="274"/>
				<producto codigo="275"/>
				<producto codigo="276"/>
				<producto codigo="277"/>
				<producto codigo="278"/>
				<producto codigo="279"/>
				<producto codigo="293"/>
				<producto codigo="302"/>
				<producto codigo="303"/>
				<producto codigo="304"/>
				<producto codigo="306"/>
				<producto codigo="308"/>
				<producto codigo="406"/>
				<producto codigo="407"/>
				<producto codigo="408"/>
				<producto codigo="409"/>
				<producto codigo="417"/>
				<producto codigo="418"/>
				<producto codigo="954"/>
			</productos>
		</Rubro>
		<Rubro codigo="2" nombre="CARNES DE CERDO">
			<productos>
				<producto codigo="1001"/>
				<producto codigo="1008"/>
				<producto codigo="1009"/>
				<producto codigo="1015"/>
				<producto codigo="1016"/>
				<producto codigo="1019"/>
				<producto codigo="176"/>
				<producto codigo="177"/>
				<producto codigo="200"/>
				<producto codigo="205"/>
				<producto codigo="206"/>
				<producto codigo="210"/>
				<producto codigo="215"/>
				<producto codigo="218"/>
				<producto codigo="219"/>
				<producto codigo="220"/>
				<producto codigo="230"/>
				<producto codigo="231"/>
				<producto codigo="240"/>
				<producto codigo="250"/>
				<producto codigo="260"/>
				<producto codigo="265"/>
				<producto codigo="266"/>
				<producto codigo="270"/>
				<producto codigo="280"/>
				<producto codigo="283"/>
				<producto codigo="286"/>
				<producto codigo="289"/>
				<producto codigo="290"/>
				<producto codigo="292"/>
				<producto codigo="295"/>
				<producto codigo="296"/>
				<producto codigo="298"/>
				<producto codigo="629"/>
				<producto codigo="900"/>
			</productos>
		</Rubro>
		<Rubro codigo="3" nombre="POLLOS">
			<productos>
				<producto codigo="505"/>
				<producto codigo="510"/>
				<producto codigo="515"/>
				<producto codigo="520"/>
				<producto codigo="550"/>
				<producto codigo="705"/>
				<producto codigo="710"/>
				<producto codigo="715"/>
				<producto codigo="720"/>
				<producto codigo="721"/>
				<producto codigo="724"/>
				<producto codigo="750"/>
			</productos>
		</Rubro>
		<Rubro codigo="4" nombre="ACHURAS">
			<productos>
				<producto codigo="1005"/>
				<producto codigo="899"/>
				<producto codigo="960"/>
				<producto codigo="961"/>
				<producto codigo="963"/>
				<producto codigo="964"/>
				<producto codigo="965"/>
				<producto codigo="966"/>
				<producto codigo="970"/>
				<producto codigo="988"/>
				<producto codigo="989"/>
				<producto codigo="990"/>
			</productos>
		</Rubro>
		<Rubro codigo="5" nombre="CABR.CORD.LECHON">
			<productos>
				<producto codigo="307"/>
				<producto codigo="431"/>
				<producto codigo="819"/>
			</productos>
		</Rubro>
		<Rubro codigo="6" nombre="ELAB. DE CARNE">
			<productos>
				<producto codigo="300"/>
				<producto codigo="305"/>
				<producto codigo="310"/>
				<producto codigo="400"/>
				<producto codigo="507"/>
				<producto codigo="508"/>
				<producto codigo="509"/>
				<producto codigo="521"/>
				<producto codigo="600"/>
				<producto codigo="601"/>
				<producto codigo="617"/>
				<producto codigo="831"/>
			</productos>
		</Rubro>
		<Rubro codigo="7" nombre="ELAB. DE CERDO">
			<productos>
				<producto codigo="330"/>
				<producto codigo="331"/>
				<producto codigo="332"/>
				<producto codigo="350"/>
				<producto codigo="410"/>
				<producto codigo="610"/>
				<producto codigo="611"/>
				<producto codigo="618"/>
				<producto codigo="711"/>
				<producto codigo="800"/>
				<producto codigo="810"/>
				<producto codigo="820"/>
				<producto codigo="830"/>
				<producto codigo="840"/>
				<producto codigo="855"/>
				<producto codigo="865"/>
				<producto codigo="866"/>
				<producto codigo="875"/>
				<producto codigo="880"/>
				<producto codigo="885"/>
				<producto codigo="895"/>
			</productos>
		</Rubro>
		<Rubro codigo="8" nombre="ELAB. DE POLLO">
			<productos>
				<producto codigo="320"/>
				<producto codigo="325"/>
				<producto codigo="420"/>
				<producto codigo="430"/>
				<producto codigo="506"/>
				<producto codigo="620"/>
				<producto codigo="623"/>
				<producto codigo="821"/>
				<producto codigo="881"/>
			</productos>
		</Rubro>
		<Rubro codigo="9" nombre="ELAB. MIXTOS">
			<productos>
				<producto codigo="440"/>
				<producto codigo="522"/>
				<producto codigo="523"/>
				<producto codigo="524"/>
				<producto codigo="651"/>
				<producto codigo="652"/>
				<producto codigo="653"/>
				<producto codigo="698"/>
			</productos>
		</Rubro>
	</RubrosSection>
</configuration>